body {
  color: rgb(161, 196, 212);
  background-color: rgb(235, 245, 240);
  font-family: "Rubik Mono One", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: grid;
  gap: 10px;
  justify-content: center;
  align-content: center;
  grid-template-rows: 1fr 3fr 1fr;
  white-space: pre-line;
  overflow: hidden;
}

div {
  display: grid;
  place-items: center;
}

#display {
  width: 60vw;
  position: relative;
  background: repeating-linear-gradient(
    45deg,
    rgb(235, 245, 240),
    rgb(235, 245, 240) 10px,
    rgb(246, 247, 191) 10px,
    rgb(246, 247, 191) 30px
  );
}

#reaction-time {
  color: #fafae3;
  position: absolute;
  font-size: 10vw;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.targets {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  z-index: 2;
}

#start {
  width: 20%;
  height: 20%;
  text-align: center;
  padding: 2px;
  border-radius: 50px;
  color: rgb(234, 255, 245);
  background-color: rgb(161, 196, 212);
  z-index: 3;
}

#logo {
  align-items: end;
  font-size: 3vw;
}

#full-info {
  font-size: 1vw;
  place-items: start start;
}

.hide {
  display: none;
}